<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FacebookMessengerLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FacebookMessengerLib.Properties.Settings>
            <setting name="BaseMessagesApiUrl" serializeAs="String">
                <value>https://graph.facebook.com/v2.6/me/messages?access_token=</value>
            </setting>
            <setting name="BaseSettingsApiUrl" serializeAs="String">
                <value>https://graph.facebook.com/v2.6/me/thread_settings?access_token=</value>
            </setting>
            <setting name="BaseSubscibeAppApiUrl" serializeAs="String">
                <value>https://graph.facebook.com/v2.6/me/subscribed_apps?access_token=</value>
            </setting>
        </FacebookMessengerLib.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
